#header{
	height:50px;
	width:800px;
	background-color:grey;
	text-align: center;
	border-radius: 10px;
}

#navbar{
	height:50px;
	width:800px;
	background-color:grey;
	text-align: center;
	border-radius: 10px;
}
#footer{
	height:50px;
	width:800px;
	background-color:grey;
	text-align: center;
	border-radius: 10px;
}
#content{
	height:50px;
	width:800px;
	background-color:grey;
	text-align: center;
	border-radius: 10px;
}
#aside{
	height:50px;
	width:50%;
	background-color:blue;
	text-align: center;
	border-radius: 10px;	
}
.article{
	height:50px;
	width:50%;
	text-align: center;
	background-color:red;
	border-radius: 10px;	
}
.section{
	height:50px;
	width:50%;
	text-align: center;
	background-color:green;
	border-radius: 10px;	
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear{
	clear:both;
}

